// Colors
$color-primary: #829079;
$color-secondary: #ede6b9;
$color-tertiary: #b9925e;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #b6bab3;
$color-grey-light-3: #7b7d79;

$color-grey-dark-1: #3b3b3b;

$color-white: #ebebeb;
$color-black: #1f1f1f;

$box-shadow-sm: 0 2.5rem 5rem rgba($color-black, 0.25);

$padding-footer: 1.5rem 0;
$padding-section: 5rem 3rem;
