.header {
  height: 80vh;
  background-image: linear-gradient(
      105deg,
      rgba($color-primary, 0.92) 0%,
      rgba($color-primary, 0.92) 65%,
      transparent 65%
    ),
    url(/img/hero-2.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  @include respond(phone) {
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.92),
        rgba($color-primary, 0.92)
      ),
      url(/img/hero-2.jpg);
    background-size: cover;
    background-position: center;
  }

  &__main {
    width: 60%;
    padding: 3rem 8rem;

    @include respond(phone) {
      width: 100%;
      padding: 1.5rem 5rem;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
