.info {
  margin: 0 auto;
  padding: $padding-section;
  background-color: $color-grey-light-1;

  @include respond(tab-port) {
    padding: 5rem 3rem 0 3rem;
  }

  &__about {
    margin: 0 auto;
    max-width: 140rem;
    padding: 6rem 5rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-wrap: wrap;
      padding: 4rem 5rem;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }

    &-card {
      padding: 4rem 1.5rem;
      width: 22%;
      background-color: #fff;
      border: 2.5px solid $color-primary;
      border-radius: 3px;
      box-shadow: $box-shadow-sm;
      transition: all 0.3s;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond(tab-port) {
        width: 48%;
        margin-bottom: 4rem;
      }

      @include respond(phone) {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 4rem;
        }
      }

      &:hover {
        @include hoverCard;

        @include respond(tab-port) {
          transform: scale(1);
        }
      }

      &:not(:last-child) {
        margin-right: 4rem;

        @include respond(tab-port) {
          margin-right: 0;
        }
      }

      &--p {
        font-size: 1.5rem;
      }
    }

    &-icon {
      height: 4rem;
      width: 4rem;
      fill: $color-tertiary;
    }

    &-h3 {
      margin-bottom: 2rem;
      text-align: center;
    }
  }
}
