.nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem 6rem;

  @include respond(tab-port) {
    padding: 1rem 3rem;
  }

  @include respond(phone) {
    padding: 0 3rem;
  }

  &__phone-btn-container {
    height: 3rem;
    cursor: pointer;
  }

  &__phone-btn {
    display: none;

    @include respond(tab-port) {
      display: inline-block;
      height: 0.3rem;
      width: 3rem;
      background-color: $color-tertiary;
      position: relative;

      &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translateY(-1.1rem);
        background-color: $color-tertiary;
      }

      &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translateY(1.1rem);
        background-color: $color-tertiary;
      }
    }
  }

  &__logo {
    width: 13%;
    margin-right: auto;

    @include respond(tab-port) {
      width: 20%;
      margin-right: auto;
    }

    @include respond(phone) {
      width: 37.5%;
    }
  }

  &__links {
    display: flex;
    list-style: none;
    transition: all 0.6s;
    position: relative;

    &-close {
      display: none;
      cursor: pointer;

      @include respond(tab-port) {
        display: inline-block;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        fill: $color-white;
        height: 4rem;
        width: 4rem;
      }
    }

    &-top {
      @include respond(tab-port) {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $color-primary;
        z-index: 1000;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15rem 5rem;
        transform: translateX(100%);
      }
    }
    &-bottom {
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__link:link,
  &__link:visited {
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 300;
    position: relative;
    overflow: hidden;

    @include respond(tab-port) {
      font-size: 2.5rem;
    }

    &:not(:last-child) {
      margin-right: 4.5rem;
      padding: 1rem 0;
      color: $color-primary;

      @include respond(tab-port) {
        color: $color-white;
        margin-right: 0;
      }
    }
  }

  // Underline for main links
  &__link-main {
    &::after {
      content: '';
      height: 0.2rem;
      width: 100%;
      background-color: $color-tertiary;
      position: absolute;
      transform: translateX(-101%);
      transition: transform 0.3s;
    }
  }

  &__link:hover {
    &:not(:last-child) {
      &::after {
        transform: translateX(0);
      }
    }
  }
}

.book-now {
  padding: 1rem 2rem;
  background-color: $color-tertiary;
  color: $color-white;
  transition: all 1s;
  backface-visibility: hidden;

  &:hover {
    animation: btnHover 1s infinite;
  }
}

// Javascript class for navigation (mobile and tablet)
.nav-open {
  transform: translateX(0);
}
