// Basic button layout for entire page
.btn {
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
}

// Primary button design
.btn-primary {
  background-color: $color-tertiary;
  font-size: 1.75rem;
  letter-spacing: 1.75px;
  color: $color-white;
  transition: all 0.3s;
  outline: none;

  // Primary button animations
  &:hover {
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.25rem 5rem rgba($color-black, 0.25);
  }

  &:active {
    transform: scale(1.02) translateY(-0.2rem);
    box-shadow: 0 1.5rem 3.5rem rgba($color-black, 0.35);
  }
}

// Tours Button
.tours__btn {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background-color: $color-primary;
  color: $color-white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    outline: none;
  }

  &-visible {
    padding: 2rem 7.5rem;
  }

  &-invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0;
  }

  &:hover &-visible {
    transform: translateY(100%);
  }

  &:hover &-invisible {
    top: 0;
  }
}

// Slider buttons
.btn-right {
  top: 50%;
  right: 10px;
  transform: translate(-10px, -50%);
}

.btn-left {
  top: 50%;
  left: 10px;
  transform: translate(10px, -50%);
}

// Scroll to top button
.scroll-top {
  border: none;
  outline: none;
  background-color: rgba($color-grey-light-2, 0.75);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: all 0.5s;

  @include respond(phone) {
    right: 1.5rem;
  }

  &__btn {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-black;
  }

  &__hidden {
    opacity: 0;
  }
}
