// Overlay
.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;

  &__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba($color-black, 0.9);
    z-index: -1;
    position: relative;
    backdrop-filter: blur(3px);
  }

  &__window {
    width: 70%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    @include respond(tab-port) {
      width: 50%;
      background-image: linear-gradient(
          rgba($color-secondary, 0.7),
          rgba($color-secondary, 0.7)
        ),
        url(/img/modal-bkg.jpeg);
      background-size: cover;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &__close--btn {
    height: 4rem;
    width: 4rem;
    fill: $color-white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  &__form {
    width: 40%;
    height: 100%;
    background-color: #fff;
    padding: 5rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
      width: 100%;
      background-color: transparent;
    }

    @include respond(big-desktop) {
      padding: 8rem 3rem;
    }

    &--input {
      width: 75%;
      padding: 0.5rem 1rem;
      border: 1.5px solid $color-primary;
      border-radius: 0.3rem;
      outline: none;
      font-size: 1.7rem;

      &:focus {
        border-bottom: 2px solid #53ad5b;

        &:invalid {
          border-bottom: 2px solid red;
        }
      }

      @include respond(tab-port) {
        width: 80%;
        padding: 0.75rem 1rem;
      }

      @include respond(big-desktop) {
        padding: 1rem 2rem;
      }
    }

    &--name {
      margin: 5rem 0 2rem 0;

      @include respond(big-desktop) {
        margin: 5rem 0 3.5rem 0;
      }
    }

    &--heading {
      color: $color-grey-dark-1;
      border-bottom: 2px solid $color-primary;
    }
  }

  &__window-img {
    height: inherit;
    width: 60%;
    background-image: url(/img/modal-bkg.jpeg);
    background-size: cover;

    @include respond(tab-port) {
      display: none;
    }
  }
}

// Javascript class to open modal
.open-modal {
  opacity: 1;
  pointer-events: all;
}
