.slider {
  height: 30rem;
  width: 70%;
  margin-top: 6rem;
  overflow: hidden;
  position: relative;
  box-shadow: $box-shadow-sm;
  border-radius: 3px;

  @include respond(phone) {
    width: 100%;
    margin-top: 4rem;
  }

  &__slide {
    padding: 3rem 8rem;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transition: all 0.75s;

    &--quote {
      position: absolute;
      top: -1rem;
      left: 5rem;
      font-size: 10rem;
      font-family: 'Fraunces', sans-serif;
      color: $color-primary;
    }
    &--img {
      width: 5rem;
      height: 5rem;
      margin-right: 2rem;
      border-radius: 100px;
      object-fit: cover;
    }

    &--info {
      display: flex;
      align-items: center;
    }

    &--paragraph {
      margin-left: 2rem;
      font-size: 1.8rem;

      @include respond(phone) {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
    }

    &--name {
      font-size: 1.6rem;
    }

    &--member {
      font-size: 1.2rem;
      color: $color-grey-light-3;
    }
  }
  &__btn {
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
    background-color: rgba($color-grey-light-2, 0.75);
    font-size: 2.5rem;
    position: absolute;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
