.u-margin-top-md {
  margin-top: 6rem;
}

.u-margin-top-lg {
  margin-top: 8rem;
}

.u-margin-bottom-sm {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-md {
  margin-bottom: 5rem;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem;
}

.u-center {
  display: block;
  text-align: center;
}
